nltk
datasets
mypy
black
isort
ruff
openai==0.28
tiktoken
pandas
omegaconf
transformers
torch
numpy
sacrebleu
openai
bitsandbytes
accelerate
git+https://github.com/facebookresearch/llama.git
protobuf
rouge-score
